body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Trispace', sans-serif;}
nav{
    background: rgb(122, 28, 64);
    position:sticky;
    top: 0;
}
ul{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    list-style-type: none;
}
ul li{
    padding: 10px;
    margin:5px 30px 5px 10px;
}
ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
nav ul :hover{
    background:#fff;
    color: rgb(122, 28, 64);
}
.fa-home,
.fa-info,
.fa-address-card,
.fa-envelope-o{
    margin-right: 10px;
}
.aboutme-text{
    background:rgb(194, 191, 191);
    margin: 150px 0 200px 0;
    padding: 50px;
    color: rgb(122,28,64);
}
.about-content{
    display: grid;
    justify-content: center;
    align-items:flex-start;
    grid-template-columns: auto auto;
    grid-gap: 400px;
}
#contact{
    margin-top: 20px;
    width: 100%;
    height: 60vh;
    background: rgb(122, 28, 64);
    color: #fff;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "h3 p1"
    "h4 c1"
    "p2 c2"
    "p2 c3"
    "p2 c4"
    "p2 c5"
    "c6 c6"
    "c7 c7"
    "c8 c8"
    "c9 c9";
    grid-column-gap: 100px;
}
.contact-address h3{grid-area: h3;}
.contact-address h4{grid-area: h4;}
.contact-address p{grid-area: p2;}
form p{grid-area: p1;}
#c1{grid-area: c1;}
#c2{grid-area: c2;}
#c3{grid-area: c3;}
#c4{grid-area: c4;}
#c5{grid-area: c5;}
#c6{grid-area: c6;}
#c7{grid-area: c7;}
#c8{grid-area: c8;}
#c9{grid-area: c9;}


.contact-address{
    margin-left: 60px;
}
.contact-address h3{font-size: 25px;}
.contact-address h4{font-size: 20px;}
form{width: 90%;}
.contact-form{
    margin-top: 10px;
    padding: 10px;
}
input{
    width: 100%;
    height:28px ;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    outline: none;
    
}
input:hover{
    background: rgb(238, 238, 238);
}
textarea:hover{
    background: rgb(238, 238, 238);
}
textarea{width: 100%;margin: 10px;border: none;outline: none;}
.contact-form p{
    width: 100%;
    margin: 10px;
}
input[type=submit]{
    width: 80px;
    height: 30px;
    margin-left: 90%;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    border: 2px solid #fff;
    background: none;
}
input[type=submit]:hover{
    background: #fff;
    color: rgb(122, 28, 64);
}
.contact-address a{
    text-decoration: none;
    margin: 0;
}
.last{
    background: rgb(194, 191, 191);
    color: rgb(122, 28, 64);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:768px){
    .about-content{
        grid-gap: 100px;
    }
    #contact{
        grid-gap: 50px;
    }
    .contact-address{margin-left: 30px;}
    input[type=submit]{
        margin-left: 75%;
    }
}
@media(max-width:425px){
    
}