body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Trispace', sans-serif;}
nav{background: rgb(122, 28, 64);
    height: 39px;
    position:sticky;
    top: 0;
}

ul{
    float:right;
    margin: 0;
    list-style-type: none;
}
ul li{
    display: inline-block;
    padding: 10px;
}
ul li a {
    margin-right: 25px;
    margin-left: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
nav ul :hover{
    background:#fff;
    color: rgb(122, 28, 64);
}
.fa-home,
.fa-info,
.fa-address-card,
.fa-envelope-o{
    margin-right: 10px;
}
.text-cover a{text-decoration: none;}
.head-cover{
    width: 80%;
    margin: 50px 0 0 120px;
    padding: 30px;
    background:  rgb(194, 191, 191);
    border: 3px solid rgb(122, 28, 64);
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
}
.text-cover{}
.photo-cover{
    border: 3px solid rgb(122, 28, 64);
}
.button-download{
    margin:100px auto 100px auto;
    height: 50px;
    display: flex;
    justify-content: center;
    
}
.btn{
    background: none;
    width: 200px;
    background: rgb(122,28,64);
    color: #fff;
    border: none;
    font-size: 18px;
}
.fa-download{
    margin-right: 10px;
}

#contact{
    margin-top: 20px;
    width: 100%;
    height: 60vh;
    background: rgb(122, 28, 64);
    color: #fff;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "h3 p1"
    "h4 c1"
    "p2 c2"
    "p2 c3"
    "p2 c4"
    "p2 c5"
    "c6 c6"
    "c7 c7"
    "c8 c8"
    "c9 c9";
    grid-column-gap: 100px;
}
.contact-address h3{grid-area: h3;}
.contact-address h4{grid-area: h4;}
.contact-address p{grid-area: p2;}
form p{grid-area: p1;}
#c1{grid-area: c1;}
#c2{grid-area: c2;}
#c3{grid-area: c3;}
#c4{grid-area: c4;}
#c5{grid-area: c5;}
#c6{grid-area: c6;}
#c7{grid-area: c7;}
#c8{grid-area: c8;}
#c9{grid-area: c9;}


.contact-address{
    width: 100%;
    height: 40vh;
    padding: 20px;
    margin-left: 80px;
    margin-top: 10px;
}
.contact-address h3{font-size: 30px;}
.contact-address h4{font-size: 20px;}
.contact-address p{
    margin-top: 10px;
}
form{width: 80%;}
.contact-form{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 50vh;
    
}
input{
    width: 100%;
    height:25px ;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    outline: none;
    
}
input:hover{
    background: rgb(238, 238, 238);
}
textarea:hover{
    background: rgb(238, 238, 238);
}
textarea{width: 100%;margin: 10px;border: none;outline: none;}
.contact-form p{
    width: 100%;
    margin: 10px;
}
input[type=submit]{
    width: 80px;
    height: 30px;
    margin-left: 85%;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
    background: none;
}
input[type=submit]:hover{
    background: #fff;
    color: rgb(122, 28, 64);
}
.contact-address a{
    text-decoration: none;
    margin: 0;
}
.last{
    background: rgb(231, 231, 231);
    color: rgb(122, 28, 64);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}